*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Amatic SC, sans-serif;
	overflow: hidden;
}

body{
	background-image: url("../assets/bg.png")/*linear-gradient( to top right, #fc0331, #ff8c00)*/;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}

a{
	text-decoration: none;
}



/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/



.test{
	width: 100vw;
	height: 100vh;
	position: relative; /*oldal elhelyezkedése*/
	display: flex;
	padding: 0px; /*belső margó, */
	margin: 0px; /*külső margó*/
	background-color: transparent;
	flex-direction: column; /*oszlopos elrendezés*/
}



/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/



.cim{
	width: 100%;
	height: 30%;
	position: relative;
	display: flex;
	margin: 0px;
	background-color: transparent;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.cim_div_bg{
	width: auto;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1vh 0.5vh 1vh 2vh;
	margin: 0vh;
	border-radius: 2vh;
	color: #fff;
	font-size: 11vh;
	font-weight: bold;
	letter-spacing: 1.5vh;
	background-image: url("../assets/bg2.png"); /*fekete háttér pl.cim*/
	background-repeat: no-repeat;/*háttér ismélése nincs. egyszer alkalmazza és ne egymás utáni sorrendbe*/
	background-attachment: fixed;/*törlés*/
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
}



/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/



.menu{
	width: 100%;
	height: 40%;
	position: relative;
	display: flex;
	padding: 3.5vh 0vh 0vh 0vh;
	margin: 0px;
	background-image: url("../assets/bg2.png")/*linear-gradient( to top right, #fc0331, #ff8c00)*/;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: visible;
}



.nav_gomb{
	width: 25vw;
	height: 10vh;
	position: relative;
	display: flex;
	padding: 0vh;
	margin: 0vh 0vh 3.5vh 0vh;
	justify-content: center;
	align-items: center;
	color: #111;
	font-size: 35px;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 0.6vh solid #c7c7c7;
	border-radius: 1vh;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transform: rotate(2.5deg); /* IE 9 */
  	-webkit-transform: rotate(2.5deg); /* Safari 3-8 */
  	transform: rotate(2.5deg);
}
#nav_gomb:hover{
	color: #fff;
	background-color: #5208ff;
	border-bottom: 0.6vh solid #2b0487;
	cursor: pointer;
}
#nav_gomb:nth-child(2){
	-ms-transform: rotate(-1deg); /* IE 9 */
  	-webkit-transform: rotate(-1deg); /* Safari 3-8 */
  	transform: rotate(-1deg);
}
#nav_gomb:nth-child(3){
	-ms-transform: rotate(1.5deg); /* IE 9 */
  	-webkit-transform: rotate(1.5deg); /* Safari 3-8 */
  	transform: rotate(1.5deg);/*forgatás*/
}



/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/
/*--  --  --  --  --  --  --  --  --  --  --  --  --  --  --*/



.terkoz{
	width: 100%;
	height: 30%;
	position: relative;
	display: flex;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0vh 0vh 1vh #555;
}
